<app-navbar></app-navbar>

        <div class="header1"> 
        
        
        <div class="rightSide">

                <div class="firstPara">
                        <div class="circle1"><img src="../../../assets/HomePage/circle.png"></div>
                        <h1>عن تضامن</h1>
                </div>

                <div class="content">
                
                <p class="firstparagraph">
                <br>   منصة إلكترونية وسيطة تجمع بين المتطوعين والزبناء المتواجدين في الحجر
                        
                        
                </p>

                <p class="firstparagraph">
                        الصحي الاختياري  ضمن الجهود الاستباقية لكبح جائحة كوفيد - 19            

                </p>

                <p class="secondparagraph">

                        هاته المنصة  توفّر لك خدمة توصيل 
                        
                        <span> مجانية </span>
                        
                        لكل المقاضي واحتياجاتك اليومية   
                        <br>

                        من السوبر ماركت أو البقالة من خضار وفواكه ، لحوم ، خبز ، صيدلية ، عطور

                        <br>

                        ومنتجات أشمل تغنيك عن زحمة الشوارع، ومخاطر التقاط العدوى والفيروسات 

                        <br>

                        ، وكذا طوابير المحاسبة وبُعد المحلات لتبقيك في حالة صحية جيدة

                        <br>

                        فتحميك وتحمي اقربائك ,  خيارات التوصيل سهلة : مرنة سريعة 

                        <br>

                        و مجدولة لتناسب وقتك 


                </p>


                <p class="thirdparagraph">

                        تعرض المنصة  
                        <span> 
                                خدمة الشراء والتوصيل بالمجان للعائلات المتضررة
                        </span>
                        
                        من اجراءات الحجر   


                        <br>

                        تماشيا مع مبادئ الاممية الانسانية وضمانا لحق الحياة من خلال صندوق دعم   

                        <br>

                        الحاجيات الغذائية .  وذلك وفي إطار محاربة الآثار الاجتماعية والاقتصادية     

                        <br>
                        لجائحة كوفيد-19   



                </p>



                </div>


                <button class="btn"> 

                        <i style="padding-right: 3px;" class="fa fa-arrow-left" aria-hidden="true"></i>


                        اطلب الان


                </button>


                
                </div>


                        <div class="leftSide"> </div>




                </div>



        <div class="header2">

                <div class="leftSide"> </div>



        <div class="rightSide1">

                <div class="firstPara">
                        <div class="circle2"><img src="../../../assets/HomePage/circle.png"></div>
                        <h1>عن تضامن</h1>
                </div>
        
                <div class="content">
                
                <p class="firstparagraph">
                      <br>   منصة إلكترونية وسيطة تجمع بين المتطوعين والزبناء المتواجدين في الحجر
                        
                         
                </p>
        
                <p class="firstparagraph">
                        الصحي الاختياري  ضمن الجهود الاستباقية لكبح جائحة كوفيد - 19            
        
                </p>
        
                <p class="secondparagraph">
        
                        هاته المنصة  توفّر لك خدمة توصيل 
                        
                        <span> مجانية </span>
                        
                        لكل المقاضي واحتياجاتك اليومية   
                        <br>
        
                        من السوبر ماركت أو البقالة من خضار وفواكه ، لحوم ، خبز ، صيدلية ، عطور
        
                        <br>
        
                        ومنتجات أشمل تغنيك عن زحمة الشوارع، ومخاطر التقاط العدوى والفيروسات 
        
                        <br>
        
                        ، وكذا طوابير المحاسبة وبُعد المحلات لتبقيك في حالة صحية جيدة
        
                        <br>
        
                        فتحميك وتحمي اقربائك ,  خيارات التوصيل سهلة : مرنة سريعة 
        
                        <br>
        
                        و مجدولة لتناسب وقتك 
        
        
                </p>
        
        
                <p class="thirdparagraph">
        
                        تعرض المنصة  
                        <span> 
                                خدمة الشراء والتوصيل بالمجان للعائلات المتضررة
                        </span>
                        
                        من اجراءات الحجر   
        
        
                        <br>
        
                        تماشيا مع مبادئ الاممية الانسانية وضمانا لحق الحياة من خلال صندوق دعم   
        
                        <br>
        
                        الحاجيات الغذائية .  وذلك وفي إطار محاربة الآثار الاجتماعية والاقتصادية     
        
                        <br>
                        لجائحة كوفيد-19   
        
        
        
                </p>


                <p class="smallparap">


                        منصة إلكترونية وسيطة تجمع بين المتطوعين والزبناء المتواجدين في الحجر     

                        هاته المنصة  توفّر لك خدمة توصيل   مجانية   لكل المقاضي واحتياجاتك اليومية من السوبر ماركت أو البقالة من خضار وفواكه ، لحوم ، خبز ، صيدلية ، عطور   ومنتجات أشمل تغنيك عن زحمة الشوارع، ومخاطر التقاط العدوى والفيروسات ، وكذا طوابير المحاسبة وبُعد المحلات لتبقيك في حالة صحية جيدة فتحميك وتحمي اقربائك  خيارات التوصيل سهلة : مرنة سريعة و مجدولة لتناسب وقتك 
                       
                        تعرض المنصة خدمة الشراء والتوصيل بالمجان للعائلات المتضررة  من اجراءات الحجر   تماشيا مع مبادئ الاممية الانسانية وضمانا لحق الحياة من خلال صندوق دعم    الحاجيات الغذائية .  وذلك وفي إطار محاربة الآثار الاجتماعية والاقتصادية   لجائحة كوفيد-19   
                       

                </p>
        
        
        
                </div>
        
                <div class="divbutton">

                <button class="btn"> 
        
                        <i style="padding-right: 3px;" class="fa fa-arrow-left" aria-hidden="true"></i>
        
        
                        اطلب الان

                </button>  
                 </div>  
            </div>
        </div>


        <div class="momayazat">

                <div class="heading"> 

                        مميزات منصة تضامن
                </div>

                <hr width="50%">



                <div class="subheading">للحصول على تجربة تسوق مميزة ومجانية وفرنا لكم الخصائص التالية بمكان واحد
                </div>


                <div class="diviser">

                        <div class="rightDiviser">

                                <h1><a style="color: black;" #list0  (click)="momayazat(0)" >جدولة الوقت</a></h1>
                                <h1><a  #list1 (click)="momayazat(1)" >مجانية الخدمة</a></h1>
                                <h1><a #list2 (click)="momayazat(2)">جميع أنواع المقاضي</a> </h1>
                                <h1><a  #list3 (click)="momayazat(3)">توصل المقاضي لأي مكان</a></h1>
                                <h1><a  #list4 (click)="momayazat(4)">توفير الدعم للعائلات المتضررة</a></h1>

                        </div>
                        <div class="leftDiviser">

                                <div class="bloc">

                                        <div class="blocnav">
                                                <div id="special"></div>
                                                <button>تضامن</button>
                                                <button>تآزر</button>
                                                <button>تكافل</button>
                                        </div>

                                        <div class="blocpara1" *ngIf="indexOfmom==0">

                                        <span>
                                         سيقوم المتطوعون الشخصيون  :
                                        </span>
                                         باختيار أفضل منتج لك ، وإيلاء الاهتمام للمواعيد المنتهية ، وسوف يقوم المتطوع الخاص بك باستبدال المنتج بشكل مناسب إذا لم يكن متاحً



                                        </div>
                                        

                                        <div class="blocpara1" *ngIf="indexOfmom==1">

                                                <span>
                                                        لأن المنصة غير ربحية:
                                                </span>
                                                 فتكاليف الخدمة هي مجانية وستظل كذلك , زيادة أننا نُمَكن العائلات المتضررة من الاستفادة مجانا من صندوق دعم الحاجيات الغذائية تحقيقا لمبدأ التضامن والتكافل
        
        
                                        </div>

                                        <div class="blocpara1" *ngIf="indexOfmom==2">

                                                <span>
                                                        نقدم جميع أنواع المقاضي :
                                                </span>
                                                 خضر – فواكه – لحوم وبقوليات –  المخبوزات-  المشروبات – الالبان والاجبان – العناية الشخصية والعناية بالطفل – العناية بالمنزل –  اكل الحيوانات – الصيدلية        
        
                                        </div>
                                        <div class="blocpara1" *ngIf="indexOfmom==3">

                                                <span>
                                                        نوصل مقاضيك لأي مكان : 
                                                </span>
                                                تربطك المنصة اوتوماتيكيا بالمتطوعين الموجودين داخل حيك احتراما لتعليمات الحجر الصحي 
                                                ولكي نتمكن من توصيل المقاضي لاي مكان ، فما عليك إلا إمدادنا بالعنوان 
                                                                                                        
                                        </div>

                                        <div class="blocpara1" *ngIf="indexOfmom==4">

                                                <span>
                                                        صندوق قد احدثه الشباب:
                                                </span>
                                                صندوق قد احدثه الشباب لمحاربة الآثار السلبية للجانب الاجتماعي من مكافحة الجائحة كوفيد -19 , وذلك من خلال تزويد  الحاجيات الغذائية اللازمة للعائلات                                        </div>
                                                
                                                
                                                
        


                                </div>


                        </div>


                </div>

        </div>

        <div class="aboutorders">

                <div  id="heading2" class="heading"> 

                        حول الطلبات

                </div>

                <hr   id="hr2" width="30%">



                <div class="subheading">ماهي المراحل التي علي اتباعها للقيام بطلب ؟


                </div>


                <div class="orderImage">

                        <img src="../../../assets/HomePage/mom.png">
                </div>


        <div class="orderDesc">

                <div class="order">
                        <div class="headingg">التسجيل بالمنصة </div>
                        <div class="decription">انشاء حساب بالمنصة والدخول إليها</div>
                </div>
                <div class="order">
                        <div class="headingg">القيام بالطلب </div>
                        <div class="decription">الدخول لصفحة الطلبات الخاصة بك والقيام بطلب </div>
                </div>
                <div class="order">
                        <div class="headingg">تأكيد الطلب  </div>
                        <div class="decription">تأكيد الطلب عند توصلك بمكالمة هاتفية من المتطوعين </div>
                </div>
                <div class="order">
                        <div class="headingg">تتبع حالة الطلب </div>
                        <div class="decription">مواكبة طلبك الخاص عبر تفقد حالة تقدمه</div>
                </div>
                <div class="order">
                        <div class="headingg">توصلك بالطلب </div>
                        <div class="decription">توصلك بطلبياتك عند باب المنزل </div>
                </div>

         </div>

        </div>


        <div #faq class="faq">
                

                <div  id="heading2" class="heading"> 

                        اسئلة شائعة

                </div>

                <hr   id="hr2" width="30%">



                <div class="subheading">هل راودتك احدى هاته الاسئلة ؟



                </div>


                <div class="faqWrapper">

                        <div class="faqright">

                                <div  #box1 class="fr1">
                                       <i  #plus0 (click)="plu0()"  class="fa fa-plus add" aria-hidden="true"> </i> 
                                        <i   #minus0 (click)="minu0()"  class="fa fa-minus minus" aria-hidden="true"></i>
                                        <h1 class="btnheading">هل سأؤدي ثمن خدمة التوصيل ؟</h1>


                                </div>
                                <div  *ngIf="show0" class="fr1r">
                                        <p class="questionPara">لا طبعا لأن المنصة غير ربحية ، فقد أنشئت كمبادرة مجتمعية لمحاربة الجائحة وتدعياتها الاجتماعية 
                                        </p>
                                </div>


                                <div  #box2 class="fr2">
                                        <i   #plus1  (click)="plu1()"    class="fa fa-plus add" aria-hidden="true"></i>
                                        <i  style="display: none;"  #minus1 (click)="minu1()"  class="fa fa-minus minus" aria-hidden="true"></i>
                                       
                                        <h1 class="btnheading"> كيف يمكنني التطوع ؟</h1>

                        
                                </div>
                                <div  *ngIf="show1" class="fr1r">
                                        <p class="questionPara">يمكنكم التطوع عن طريق التسجيل في المنصة واتباع الخطوات المذكورة 

                                        </p>
                                </div>

                                

                                <div  #box3 class="fr3">
                                        <i  #plus2  (click)="plu2()"  class="fa fa-plus add" aria-hidden="true"></i>
                                        <i  style="display: none;"  #minus2 (click)="minu2()"  class="fa fa-minus minus" aria-hidden="true"></i>
                                 
                                        <h1 class="btnheading">هل الموقع تابع لأي جهة رسمية ؟</h1>


                                </div>
                                <div  *ngIf="show2" class="fr1r">

                                        <p class="questionPara">الموقع غير تابع لأي جهات رسمية ، فقد تم إنشائه من طرف طلبة مدرسة يوكود باليوسفية 
                                        </p>

                                </div>


                                <!-- -------------------------- -->
                                <div   *ngIf="showing"  #box7 class="fr4">
                                        <i  #plus6 (click)="plu6()"  class="fa fa-plus add" aria-hidden="true"></i>
                                        <i  style="display: none;"  #minus6 (click)="minu6()"  class="fa fa-minus minus" aria-hidden="true"></i>
                                 
                                        <h1 class="btnheading">
                                                من يمكنه الإستفادة من  دعم الحاجيات الغذائية         
                                        </h1>


                                </div>
                                <div   *ngIf="show6" class="fr1r">

                                        <p class="questionPara">كل المياومين والفاعلين في الانشطة الاقتصادية التابعة للقطاع غير المهيكل واللذين مسهم الضرر جراء الحجر 

                                        </p>

                                </div>

                                <!-- -------------------------- -->
                                <div  #box9 class="fr5">
                                        <i  id="iconmore" #plus9 (click)="show()"  class="fa fa-plus " aria-hidden="true"></i>
                                        <i  id="iconmore" style="display: none;"  #minus9 (click)="hide()"  class="fa fa-minus " aria-hidden="true"></i>
                                 
                                        <h1  id="buttonmore" >رؤية المزيد </h1>


                                </div>
                        


                                <!-- -------------------- -->




                        </div>
                        <div class="faqleft">

                                <div #box4 class="fl1">
                                        <i #plus3 (click)="plu3()"  class="fa fa-plus add" aria-hidden="true"></i>
                                        <i   #minus3 (click)="minu3()"  class="fa fa-minus minus" aria-hidden="true"></i>
                                        <h1 class="btnheading">ماهي آوقات عمل المنصة ؟
                                        </h1>


                                </div>
                                <div  *ngIf="show3" class="fr1r">
                                        <p class="questionPara">
                                                تعمل المنصة وفق اوقات الحظر الجاري بها العمل ويلبي كل متطوع حدود محيطه السكني فقط احتراما للقانون 
                                        </p>
                                </div>

                                <div #box5 class="fl2">
                                        <i   #plus4 (click)="plu4()"  class="fa fa-plus add" aria-hidden="true"></i>
                                         <i   #minus4 (click)="minu4()"  class="fa fa-minus minus" aria-hidden="true"></i>
                                         <h1 class="btnheading">                                         كيف يمكنني أن اساهم وأتبرع للصندوق 
                                        </h1>


                                </div>
                                <div  *ngIf="show4" class="fr1r">
                                        <p class="questionPara">
                                                يمكنكم التبرع والمساهمة في الحد من تداعيات الازمة عبر النقر أعلاه 
                                        </p>
                                </div>

                                <div #box6 class="fl3">
                                        <i  #plus5 (click)="plu5()" class="fa fa-plus add" aria-hidden="true"></i>
                                        <i   #minus5 (click)="minu5()"  class="fa fa-minus minus" aria-hidden="true"></i>
                                        <h1 class="btnheading">   
                                                متى ستنشط المنصة في كافة المغرب 
                                   
                                        </h1>
                                        
                                </div>
                                <div  *ngIf="show5" class="fr1r">
                                        <p class="questionPara">
                                                المنصة في مرحلة تجريبية الآن للتقييم والوقوف على امكانية صمودها اما تحديات الواقع ، فإن نجحت في ذلك سيتم تعميمها على باقي ربوع  منطقة المملكة المغربية 
                                        </p>
                                </div>

                                <!-- ------------------ -->
                                <div  *ngIf="showing"  #box8 class="fl4">
                                        <i  #plus7 (click)="plu7()"  class="fa fa-plus add" aria-hidden="true"></i>
                                        <i  style="display: none;"  #minus7 (click)="minu7()"  class="fa fa-minus minus" aria-hidden="true"></i>
                                 
                                        <h1 class="btnheading">
                                                كيف يمكنني الوصول إليكم للتواصل 

                                        </h1>


                                </div>
                                <div  *ngIf="show7" class="fr1r">

                                        <p class="questionPara">يمكنكم الوصول إلينا عبر الرقم الهاتفي التالي : 
                                                0700341459                                                
                                        </p>

                                </div>


                        </div>
                        
                                <!-- -------------------------- -->
                                <div   #box10 class="fr6">
                                        <i  id="iconmore" #plus10 (click)="sho()"  class="fa fa-plus " aria-hidden="true"></i>
                                        <i  id="iconmore" style="display: none;"  #minus10 (click)="hid()"  class="fa fa-minus " aria-hidden="true"></i>
                                 
                                        <h1  id="buttonmore" >رؤية المزيد </h1>
                                </div>
                                <!-- -------------------- -->
                </div>
        </div>

        <div class="box">

                <button class="head">

                        صندوق دعم الحاجيات الغذائية 

                </button>


              

                <div class="wrapp">
                        <div class="pic">
                                <img id="box" src="../../../assets/HomePage/box.png">
                        </div>

                        <div class="bl1">

                                                
                               
                                <div  #card1  (mouseenter) ="mouseEnter()"   (mouseout)="mouseOut()" class="card1">

                                        <h1 #heading1>
                                                <strong>
                                                        صندوق قد احدثه
                                                </strong>
                                                الشباب لمحاربة الآثار السلبية للجانب الاجتماعي من مكافحة الجائحة كوفيد -19 , وذلك من خلال تزويد  الحاجيات الغذائية اللازمة للعائلات التي مسها الضرر من مياومين ,  كادحين  وفاعلين فأنشطة تابعة للاقتصاد غير المهيكل ، أي الذين لم يستفيدو من دعم الدولة  فيما يخص صندوق الضمان الاجتماعي 
                                        </h1>
                                </div>
                             
                                      
                        </div>

                        <div class="bl2">
                                   
                          
                             
                                <div #card2 class="card2" style="height: 315px;">
                                      <h1>

                                        <strong>يمول هذا الصندوق</strong>
                                        من خلال تبرعات ومساهمات المواطنين ، تحت مبدأ التكافل والتضامن الاجتماعي   فكلنا أمل ان نقضي على وباء اليوم متحدين   لتشرق شمس الغد 

                                      </h1>
                                </div>
                        </div>                        
                </div>

        </div>  


        <div class="footer">

                <hr id="topoffooter" style="width: 78%;">
                <div class="footerContain">

                        <div class="item">تواصل معنا
                                <div class="li-items">
                                        <i class="fa fa-facebook-official icons" aria-hidden="true"></i>
                                        <i class="fa fa-instagram icons" aria-hidden="true"></i>
                                        <i class="fa fa-twitter-square icons" aria-hidden="true"></i>
                                </div>
                        </div>
                        <div class="item">حول المنصة
                                <div class="li-items">
                                        <div>فريق العمل </div>
                                        <div>خصوصية البيانات </div>
                                        <div>انضم للفريق </div>
                                </div>
                        </div>
                        <div class="item">خدماتنا
                                <div class="li-items">
                                        <div>تطوع معنا </div>
                                        <div>اطلب منا</div>
                                        <div>ادعم العائلات</div>
                                </div>
                        </div>
                        <div class="item">

                                صنع بحب في
                                <i class="fa fa-heart heart" aria-hidden="true"></i>
                                مختبرات يوكود
                        </div>
                        <div class="item"><img src="../../../assets/HomePage/NavbarLogo.png"></div>

                </div>




        </div>

        